@font-face{
font-family:'Popo';
src: url('police/Ashbury.ttf');
}

body {
	width			: 1200px;
	margin			: 0 auto;
	background-image: url(Images/beige2.jpg);
	background-attachment: fixed;
	font-family		: Popo;
	font-size		: 14px;
}

#Barremenu
{
    height          : 40px;
    width           : 100%;
	top				: 0;
	position		: fixed;
	z-index 		: 2;
}

#fixe-haut
{
	background		: url(Images/bannieres2.png) no-repeat center;
    height          : 100px;    
    top             : 0;
    width           : 100%;
    left            : 0%;
	margin-top		: 100px;
}

#fixe-haut p
{
    width           : 1200px;
    margin          : auto;
    font            : bold italic 13px times new roman, serif;
    padding-top     : 10px;	
	text-align		: right;
}

#fixe-haut a 
{ 
	color			: #309C00; 
	text-decoration	: none; 
}

#fixe-haut fieldset { 
	width			: 1200px;
	margin			: auto;
	border			: none; 
	text-align		: right;
}

#fixe-haut fieldset input
{	
	border-radius			: 1px;
}

.button
{ 
	position		: relative; 
	margin			: 5px 0 0 1px;
	background-color: transparent;
	border			: none;
}

.button:hover
{
	background-color: #26527f;
}



#CentrePage
{
	height			: 1000px;
	margin-top      : 20px;
}


.table
{
	border			: solid;
	border-collapse	: collapse;	
	height			: 100%;
	padding			: 2px;	
}

.table,
.table td
{
	border			: none ;
	padding			: 2px;
}

.table h2
{
	text-align 		: center;
	color			: #355e7a;
}

#MenuCote
{
	min-Height		: 300px;
	float			: left;
	width 			: 20%;
	border-width	: 1px;
	border-style	: solid;
	border-color 	: black;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right 	: 0.5%;
}

#MenuCote ul,
#MenuCote li,
#MenuCote a
{
	margin: 5px;
    padding: 2px;
    border: none;
    outline: none;
	list-style: none;
}


#Centre
{
	min-Height		: 300px;
	float			: left;
	width 			: 79%;
	border-width	: 1px;
	border-style	: solid;
	border-color	: black;
	background-color: rgba(0, 0, 0, 0.1);
}

#CentrePage a
{
	text-decoration	: none;
	color			: #355e7af;
}

#CentrePage a:hover
{
	color			: #FF9900;
}

.table2 td,
.table2 th,
.table2
{
	border			: solid;
	border-collapse : collapse;
	text-align		: center;
	padding			: 2px;
	border-width	: 1px;
}

.table2 th
{
	font-weight 	: bold;
}